In [16]:
import pandas as pd
import numpy as np
import csv

In [17]:
stations="hawaii_stations.csv"
weather="hawaii_measurements.csv"
stations_data=pd.read_csv(stations,encoding="iso-8859-1")
weather_data=pd.read_csv(weather,encoding="iso-8859-1")
stations_df=pd.DataFrame(stations_data)
weather_df=pd.DataFrame(weather_data)

In [3]:
weather_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
weather_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [5]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
stations_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [7]:
pivot_weather = weather_df
pivot_weather = pd.pivot_table(pivot_weather, index=['station'], values=['prcp', 'tobs'])
pivot_weather

                 prcp       tobs
station
USC00511918  0.047971  71.615968
USC00513117  0.141921  72.689184
USC00514830  0.121058  74.873297
USC00516128  0.429988  70.915008
USC00517948  0.063602  74.684402
USC00518838  0.207222  72.724070
USC00519281  0.212352  71.663781
USC00519397  0.049020  74.553231
USC00519523  0.114961  74.543649

In [8]:
max_prcp = weather_df['prcp'].max()
min_prcp = weather_df['prcp'].min()

print('max precipitation: ', max_prcp, '| min precipitation: ', min_prcp)

max precipitation:  11.53 | min precipitation:  0.0

In [9]:
max_temp = weather_df['tobs'].max()
min_temp = weather_df['tobs'].min()

print('max temperature: ', max_temp, '| min temperature: ', min_temp)

max temperature:  87 | min temperature:  53